# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
movie_env/
env/
.env

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Compiled model (optional — remove this line if you want to push the .pkl)
# regression_pipeline.pkl 
